@charset "UTF-8";

html {
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100%;
}

html.overlay-enabled {
  overflow: hidden;
}

body {
  background-color: #666;
  color: #333;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

@media (orientation: landscape), (orientation: portrait) and (min-width: 500px) {
  body {
    background-attachment: fixed;
    background-image: url("/image/hero.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media
  (orientation: landscape) and (min-height: 1080px),
  (orientation: landscape) and (max-width: 1000px),
  (orientation: portrait) and (min-width: 500px) {
    body {
      background-size: contain;
    }
}

a {
  color: #337ab7;
}

em {
  font-style: normal;
  font-weight: bold;
}

.ApplicationComponent > header {
  background-color: #666;
  color: #ddd;
  margin: 0;
  padding: .5em 0 2em 1em;
  position: relative;
}

@media (orientation: landscape), (orientation: portrait) and (min-width: 500px) {
  .ApplicationComponent > header {
    background-color: rgba(102, 102, 102, .8);
  }
}

.ApplicationComponent > header h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.ApplicationComponent > header .description {
  font-size: .75em;
}

.ApplicationComponent > header nav {
  bottom: 0;
  position: absolute;
  right: 0;
}

.ApplicationComponent > header nav ul {
  margin: 0;
  padding: .25em 1em .25em 0;
  text-align: right;
}

.ApplicationComponent > header nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ApplicationComponent > header nav li + li {
  padding-left: .33em;
}

.ApplicationComponent > header nav a {
  color: inherit;
}

.ApplicationComponent > header nav .share {
  background-color: #333;
  background-color: rgba(51, 51, 51, .75);
  border-radius: .3em;
  color: #fff;
  font-size: .7em;
  font-weight: bold;
  padding: .3em .7em .3em .7em;
  text-decoration: none;
}

.ApplicationComponent > header nav .share:hover {
  background-color: #333;
}

.ApplicationComponent > header nav .share.twitter {
  background-color: #55acee;
  background-color: rgba(85, 172, 238, .75);
}

.ApplicationComponent > header nav .share.twitter:hover {
  background-color: #55acee;
}

.ApplicationComponent > footer {
  background-color: #ddd;
  color: #333;
}

@media (orientation: landscape), (orientation: portrait) and (min-width: 500px) {
  .ApplicationComponent > footer {
    background-color: rgba(211, 211, 211, .8);
  }
}

.ApplicationComponent > footer .copyright {
  font-size: .85em;
  margin: 0;
  padding: .5em 0;
  text-align: center;
}

main {
  background-color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 1em 0 0 0;
}

@media (orientation: landscape), (orientation: portrait) and (min-width: 500px) {
  main {
    background-color: rgba(255, 255, 255, .9);
  }
}

section h2 {
  background-color: #666;
  color: #ddd;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 .5em 0;
  padding: .2em;
  text-align: center;
}

@media (orientation: landscape), (orientation: portrait) and (min-width: 500px) {
  section h2 {
    background-attachment: fixed;
    background-image: url("/image/hero.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media
  (orientation: landscape) and (min-height: 1080px),
  (orientation: landscape) and (max-width: 1000px),
  (orientation: portrait) and (min-width: 500px) {
    section h2 {
      background-size: contain;
    }
}

#recently-screenshots > nav {
  display: none;
}

#recently-screenshots > nav.visible {
  display: block;
}

#recently-screenshots > nav .prev,
#recently-screenshots > nav .next {
  bottom: 0;
  display: block;
  padding: 0;
  position: fixed;
  margin: 0;
  top: 0;
  width: 15%;
  z-index: 1002;
}

#recently-screenshots > nav .prev {
  left: 0;
}

#recently-screenshots > nav .next {
  right: 0;
}

#recently-screenshots > nav .prev button,
#recently-screenshots > nav .next button {
  background-color: transparent;
  border: 0;
  color: transparent;
  height: 100%;
  width: 100%;
}

#recently-screenshots > nav .prev button:focus,
#recently-screenshots > nav .next button:focus {
  outline: 0;
}

.screenshots {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: .5em 0 1em;
  transition:
    padding-left 1s ease 0s,
    padding-right 1s ease 0s;
  width: 100%;
}

@media (min-width: 768px) {
  .screenshots {
    padding-left: .5em;
    padding-right: .5em;
  }
}

.screenshot {
  background-color: #000;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 200px;
  margin: 0;
  padding: 0;
  position: relative;
  transition:
    flex-basis .5s ease 0s,
    height .5s ease 0s,
    min-width .5s ease 0s;
  min-width: 100%;
}

@media (min-width: 350px) {
  .screenshot {
    height: 250px;
  }
}

@media (min-width: 500px) {
  .screenshot {
    flex-basis: 50%;
    height: 300px;
    min-width: 50%;
  }
}

@media (min-width: 1000px) {
  .screenshot {
    flex-basis: 33%;
    height: 200px;
    min-width: 33%;
  }
}

.screenshot a {
  display: block;
  height: 100%;
  width: 100%;
}

.screenshot.enabled a {
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 1001;
}

.screenshot .image {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.screenshot.enabled .image {
  background-size: contain;
}

.screenshot time {
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  border-radius: .8em;
  bottom: 0;
  color: #777;
  display: block;
  font-size: .75em;
  margin: 0 .5em .5em 0;
  opacity: 1;
  padding: .25em 1em;
  position: absolute;
  right: 0;
  transition: opacity .25s ease 0s;
}

.screenshot:hover time,
.screenshot.enabled time {
  opacity: 0;
}
