.ApplicationComponent > header {
  background-color: #666;
  color: #ddd;
  margin: 0;
  padding: .5em 0 2em 1em;
  position: relative;
}

@media (orientation: landscape), (orientation: portrait) and (min-width: 500px) {
  .ApplicationComponent > header {
    background-color: rgba(102, 102, 102, .8);
  }
}

.ApplicationComponent > header h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.ApplicationComponent > header h1 a {
  color: inherit;
  text-decoration: none;
}

.ApplicationComponent > header .description {
  font-size: .75em;
}

.ApplicationComponent > header nav {
  bottom: 0;
  position: absolute;
  right: 0;
}

.ApplicationComponent > header nav ul {
  margin: 0;
  padding: .25em 1em .25em 0;
  text-align: right;
}

.ApplicationComponent > header nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ApplicationComponent > header nav li + li {
  padding-left: .33em;
}

.ApplicationComponent > header nav a {
  color: inherit;
}

.ApplicationComponent > header nav .share {
  background-color: #333;
  background-color: rgba(51, 51, 51, .75);
  border-radius: .3em;
  color: #fff;
  font-size: .7em;
  font-weight: bold;
  padding: .3em .7em .3em .7em;
  text-decoration: none;
}

.ApplicationComponent > header nav .share:hover {
  background-color: #333;
}

.ApplicationComponent > header nav .share.twitter {
  background-color: #55acee;
  background-color: rgba(85, 172, 238, .75);
}

.ApplicationComponent > header nav .share.twitter:hover {
  background-color: #55acee;
}
