@keyframes loading-spin {
  to {
    opacity: 1;
    transform: rotate(360deg);
  }

  50% {
    opacity: .5;
    transform: rotate(180deg);
  }

  from {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.loading {
  animation: loading-spin 2s linear infinite;
  border-color: #2196f3;
  border-radius: 50%;
  border-right-color: transparent;
  border-style: solid;
  border-width: 15px;
  display: none;
  height: 100px;
  margin: 150px auto 100px;
  width: 100px;
}

.loading.visible {
  display: block;
}
