.pickup-screenshot {
  display: none;
}

.pickup-screenshot.visible {
  display: block;
}

.pickup-screenshot .image {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1002;
}

.pickup-screenshot .image img {
  cursor: zoom-out;
  height: auto;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.pickup-screenshot nav .prev,
.pickup-screenshot nav .next {
  bottom: 0;
  display: block;
  padding: 0;
  position: fixed;
  margin: 0;
  top: 0;
  width: 15%;
  z-index: 1003;
}

.pickup-screenshot nav .prev {
  left: 0;
}

.pickup-screenshot nav .next {
  right: 0;
}

.pickup-screenshot nav .prev button,
.pickup-screenshot nav .next button {
  background-color: transparent;
  border: 0;
  color: transparent;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 100%;
  transition: color .75s ease 0s;
  width: 100%;
}

.pickup-screenshot nav .prev button:hover,
.pickup-screenshot nav .next button:hover {
  color: white;
  color: rgba(255, 255, 255, .8);
}

.pickup-screenshot nav .prev button:focus,
.pickup-screenshot nav .next button:focus {
  outline: 0;
}

.pickup-screenshot nav .prev svg {
  margin-left: -100px;
}

.pickup-screenshot nav .next svg {
  margin-right: -100px;
}
